@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
  
body {
    background-image: url('https://images.pexels.com/photos/4835419/pexels-photo-4835419.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
    display:flex;
    flex-direction: column;
  background-color: black;
  text-align: center;
  font-family: 'Space Mono', monospace;
  margin: 0 auto;
  padding: 1rem;
  color: white;
}
h1{
    font-size: 4rem;
}
h3{
    font-size: 2.5rem;
}

/* GAME BOARD STYLES */
#gameBoard {
 
  width: 40vw;
  height: 40vw;
  margin: 2vw auto;
  background-color: black;
  border: solid 2rem #0C0C65;
  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
}

.gameBoardPixel {
  

  width: 1vw;
  height: 1vw;
  border-radius: 10px;
  float: left;
}


/* SNAKE STYLES */
.snakeBodyPixel {
  background-color: #fd6401;
  box-shadow: 0 0 5px #fd6401;
}


/* FOOD STYLES */
.food {
  background-color: #34F726;
}


/* SCORE STYLES */
#scoreBoard {
  width: 40vw;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.board {
display: flex;

  border-radius: 2px;
  /* border: solid 5px purple; */
  color: white;
  background: rgb(12,12,101);
  background: radial-gradient(circle, rgba(12,12,101,1) 0%, rgba(15,8,50,1) 100%);
  padding: 1vw;
  margin: 1rem;
  width: 60%;

  -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
}


/* hide when desktop */
#onScreenControllers {
  display: none;
}




@media only screen and (max-width: 768px) {
  /* MOBILE */
  /* body{
      background-position: cover;
      background-size: 70%;
  } */
  h1{
      font-size: 1.4rem;
  }
  #gameBoard {
    width: 80vw;
    height: 80vw;
  }

  .gameBoardPixel {
    width: 2vw;
    height: 2vw;
  }

  #scoreBoard {
    width: 80vw;
  }

  #onScreenControllers {
    width: 80vw;
    margin: 5vw auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #onScreenControllers > div {
    display: flex;
    flex-direction: column;
  }

  #onScreenControllers button {
    background-color: transparent;
    height: 20vw;
    width: 20vw;
    font-size: 10vw;
    border: none;
  }

  #onScreenControllers button:focus {
    outline: none;
  }

  #onScreenControllers button:active {
    background-color: blue;
  }
}
